<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   lpm_auto_stats_config.plist
   TestAutoStatstics

   Created by 金龙潘 on 2017/12/8.
   Copyright (c) 2017年 金龙潘. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
